@import url("variables.less");
@import url("mixins.less");
.hidden {
  display:none;
  visibility:hidden;
}
@media (min-width: 1200px) {
  .thumbnails { margin-left:-30px; }
  .thumbnails > li { margin-left:30px; }
}
